/* header section  */
.bg-header {
  background-color: #264653;
}
.header-text {
  color: #e0e0e0;
}
.btn-header {
  display: flex;
  width: 168px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  border: 0;
  background-color: #e76f51;
  color: white;
}
.header-img {
  width: 80%;
}
.btn-login {
  display: flex;
  width: 70px;
  padding: 7px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  border: 0;
  background-color: #e76f51;
  color: white;
}
.nav-item {
  margin-left: 30px;
}
.modal-img img {
  width: 100%;
}

/* body part 1  */
.fetured-bike img {
  width: 80%;
}
.center {
  width: 378px;
  padding: 4px 20px;
  font-weight: 600;
  margin: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.center-p {
  width: 378px;
  padding: 4px 20px;
  font-weight: 600;
  color: #e76f51;
  margin: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.center-line {
  border: 1px solid red;
  width: 58.5px;
  margin: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
/* body part 2nd  */

.card-btn {
  display: flex;
  width: 130px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 0;
  background: #e76f51;
  color: white;
  font-weight: 500;
}
.card-btn:hover {
  display: flex;
  width: 130px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid;
  background: white;
  color: #e76f51;
  font-weight: 500;
}
.card-text {
  color: #6c6c6c;
}
.cards {
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
}
.bikes-card {
  display: inline-flex;
  align-items: flex-start;
  gap: 20px;
}
/* body part 3  */
.center-review {
  width: 380px;
  padding: 4px 20px;
  font-weight: 600;
  margin: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.review-title {
  color: #e76f51;
}
.review-link {
  text-decoration: none;
  color: #23a6f0;
}
#cards img {
  width: 70%;
  padding: 20px;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
}
/* body part 5  */
.center-faq {
  text-align: center;
}
.faq {
  width: 70%;
}
.canvas {
  margin-bottom: 90px;
  margin-top: 30px;
}
