/* header section  */
.bg-header {
  background-color: #264653;
}
.header-text {
  color: #e0e0e0;
}
.btn-header {
  display: flex;
  width: 168px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  border: 0;
  background-color: #e76f51;
  color: white;
}
.header-img {
  width: 80%;
}
.btn-login {
  display: flex;
  width: 70px;
  padding: 7px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  border: 0;
  background-color: #e76f51;
  color: white;
}
.nav-item {
  margin-left: 30px;
}
.modal-img img {
  width: 100%;
}

/* body part 1  */
.fetured-bike img {
  width: 80%;
}
.center {
  width: 378px;
  padding: 4px 20px;
  font-weight: 600;
  margin: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.center-p {
  width: 378px;
  padding: 4px 20px;
  font-weight: 600;
  color: #e76f51;
  margin: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.center-line {
  border: 1px solid red;
  width: 58.5px;
  margin: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.custom-border {
  border-bottom: 2px solid #e76f51;
}
